@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Permanent+Marker&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom right, gray, white, gray);
}

button {
  padding: 8px 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
  outline: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}
